/* Scss Document */
body:before {
  content: "";
  display: block;
  position: fixed;
  top: 0;
  left: 0;
  z-index: -1;
  width: 100%;
  height: 256px;
  background: url("../img/about-top.jpg") center no-repeat;
  background-size: cover; }

.main-contents p {
  font-size: 14px;
  font-weight: 200;
  line-height: 24px;
  word-wrap: break-word;
  padding-left: 45px; }
.main-contents .profile {
  margin: 0 0 72px; }
.main-contents .skill p {
  margin-bottom: 24px; }
.main-contents .skill .skill-item {
  font-weight: 600;
  margin-bottom: 6px; }
.main-contents .about-h2-area {
  margin-bottom: 45px; }
  .main-contents .about-h2-area h2 {
    font-size: 40px;
    margin-right: 28px;
    font-family: 'Fira Sans', sans-serif;
    font-weight: 600; }
  .main-contents .about-h2-area p {
    font-size: 12px;
    padding: 14px 42px 0;
    position: relative;
    margin: 0;
    color: #777; }
  .main-contents .about-h2-area p:before {
    position: absolute;
    bottom: 12px;
    width: 24px;
    height: 1px;
    background-color: #777;
    content: ''; }
  .main-contents .about-h2-area p:before {
    left: 0; }

@media screen and (min-width: 561px) {
  p {
    font-size: 16px; }

  .main-contents p {
    font-size: 16px;
    font-weight: 400;
    line-height: 28px;
    padding-left: 104px; }
  .main-contents .about-h2-area {
    display: flex;
    margin-bottom: 45px; }
    .main-contents .about-h2-area h2 {
      font-size: 56px;
      margin-right: 28px;
      font-family: 'Fira Sans', sans-serif;
      font-weight: 600; }
    .main-contents .about-h2-area p {
      font-size: 18px;
      padding: 11px 52px 0;
      letter-spacing: normal; }
    .main-contents .about-h2-area p:before {
      position: absolute;
      top: calc(50% - 2.5px);
      width: 32px; }

  .wrapper {
    display: flex; }
    .wrapper .icon {
      width: 272px; } }
