@charset "UTF-8";
/* Scss Document */
/*reset css*/
@import url(reset.css);
/*ヘッダー*/
header {
  position: relative;
  z-index: 999; }

.top-header {
  position: fixed;
  height: 64px;
  display: flex; }
  .top-header .header-wrapper {
    display: flex;
    position: fixed;
    top: calc(100vh / 16 - 24.4px);
    right: calc(100vw / 32);
    z-index: 9999;
    background-color: rgba(115, 142, 153, 0.8);
    width: 64px;
    height: 64px;
    border-radius: 32px;
    /*margin: 25px 25px 0 0;*/ }
  .top-header img {
    margin: 136px 0 0 52px;
    height: auto;
    max-width: 216px;
    width: auto; }
  .top-header .header-btn {
    display: block;
    position: relative;
    width: 24px;
    height: 24px;
    margin: 20px 20px;
    z-index: 999; }
    .top-header .header-btn i {
      display: block;
      width: 100%;
      height: 2px;
      background-color: #fff;
      position: absolute;
      transition: transform .5s, opacity .5s; }
    .top-header .header-btn i:nth-child(1) {
      top: 0; }
    .top-header .header-btn i:nth-child(2) {
      top: 0;
      bottom: 0;
      margin: auto; }
    .top-header .header-btn i:nth-child(3) {
      bottom: 0; }
  .top-header .header-btn.show i {
    background-color: #fff; }
  .top-header .header-btn.show i:nth-child(1) {
    transform: translateY(11px) rotate(-45deg); }
  .top-header .header-btn.show i:nth-child(2) {
    opacity: 0; }
  .top-header .header-btn.show i:nth-child(3) {
    transform: translateY(-11px) rotate(45deg); }
  .top-header .menu {
    width: 320px;
    height: 100vh;
    background-color: #AD9F8A;
    position: fixed;
    top: 0;
    right: 0;
    transform: translateX(100%);
    transition: transform .3s;
    z-index: 998;
    overflow: hidden; }
    .top-header .menu p {
      color: #fff;
      font-size: 14px;
      font-weight: 300;
      margin: 14px 0 0 14px;
      font-family: 'Fira Sans', sans-serif; }
    .top-header .menu ul {
      display: block;
      list-style-type: none;
      margin: 0;
      padding: 92px 0 0;
      overflow: hidden; }
      .top-header .menu ul span {
        display: block;
        margin: 52px auto;
        height: 1px;
        width: 20px;
        background-color: #fff; }
      .top-header .menu ul a {
        text-decoration: none; }
      .top-header .menu ul li {
        color: #fff;
        margin: 0;
        font-size: 32px;
        font-family: 'Fira Sans', sans-serif;
        font-weight: 300;
        text-align: center; }
  .top-header .menu.show {
    transform: translateY(0); }
  .top-header .header-back {
    position: fixed;
    left: 0;
    top: 0;
    width: 100vw;
    height: 100vh;
    z-index: 1;
    background-color: #fff;
    opacity: 0;
    visibility: hidden;
    transition: all .6s;
    cursor: pointer; }
  .top-header .header-back.show {
    opacity: .3;
    visibility: visible; }

/*ヘッダーここまで*/
/*ロゴ*/
.logo {
  margin: calc(100vh / 16) 0 0 calc(100vw / 16); }
  .logo img {
    width: 84px; }

/*アニメーション*/
.fade {
  animation: fadeIn 0.5s ease 0s 1 normal; }

@keyframes fadeIn {
  /*animetion-nameで設定した値を書く*/
  0% {
    opacity: 0; }
  /*アニメーション開始時は不透明度0%*/
  100% {
    opacity: 1; }
  /*アニメーション終了時は不透明度100%*/ }
/*アニメーションここまで*/
body {
  margin: 0;
  width: 100%;
  background-color: #EEEAE4; }

p {
  color: #333;
  font-family: 'Noto Sans JP', sans-serif;
  letter-spacing: 0.1em; }

a {
  letter-spacing: 0.1em; }

h1, h2 {
  letter-spacing: 0.1em;
  color: #333; }

.flex {
  display: flex; }

ul {
  list-style: none; }

.main-contents {
  max-width: 1000px;
  margin: 0 36px; }

/*about,works共通*/
.page-ttl::before {
  /* 透過した黒を上から重ねる */
  background-color: rgba(0, 0, 0, 0.3);
  /* 自由に位置指定 */
  position: absolute;
  height: 256px;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  content: ' '; }

.page-ttl {
  width: 100%;
  height: 256px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center; }
  .page-ttl .ttl-box {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    -webkit-transform: translateX(-50%); }
    .page-ttl .ttl-box h1 {
      text-align: center;
      font-weight: 400;
      color: #823C28;
      font-size: 43px;
      padding-top: 103px;
      color: #fff;
      letter-spacing: 0.1rem;
      font-family: 'Fira Sans', sans-serif; }

.wrapper {
  background-color: #EEEAE4;
  width: 100%;
  padding-top: 92px; }

/*作品一覧*/
.works-contents {
  display: grid;
  grid-template-columns: 1fr;
  grid-row-gap: 8px;
  grid-column-gap: 8px;
  justify-items: stretch;
  align-items: stretch;
  margin: 0 auto;
  width: 100%; }
  .works-contents div {
    width: 100%;
    height: 0;
    padding-top: 61.8%;
    background-size: cover;
    border-radius: 8px; }
    .works-contents div img {
      object-fit: cover;
      width: 100%;
      border-radius: 8px; }
  .works-contents div a {
    text-decoration: none; }
    .works-contents div a img {
      width: 100%;
      height: auto; }
  .works-contents .works1 {
    background-image: url("../img/works-img/works1-list.jpg"); }
  .works-contents .works2 {
    background-image: url("../img/works-img/works2-list.jpg"); }
  .works-contents .works3 {
    background-image: url("../img/works-img/works3-list.jpg"); }
  .works-contents .works4 {
    background-image: url("../img/works-img/works4-list.jpg"); }
  .works-contents .works5 {
    background-image: url("../img/works-img/works5-list.jpg"); }
  .works-contents .works6 {
    background-image: url("../img/works-img/works6-list.jpg"); }
  .works-contents .works-o-1 {
    background-image: url("../img/works-img/works-o-1-list.jpg"); }
  .works-contents .works-o-2 {
    background-image: url("../img/works-img/works-o-2-list.jpg"); }
  .works-contents .works-o-3 {
    background-image: url("../img/works-img/works-o-3-list.jpg"); }
  .works-contents .works-coming {
    background-image: url("../img/works-img/coming-soon.jpg"); }

footer {
  margin: 128px 0 24px; }
  footer p {
    font-size: 12px;
    text-align: center;
    font-family: 'Fira Sans', sans-serif; }

@media screen and (min-width: 561px) {
  p {
    font-size: 16px; }

  .page-ttl {
    font-size: 40px; } }
@media screen and (min-width: 561px) and (max-width: 1024px) {
  /*作品一覧タブレット*/
  .works-contents {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin: 0 auto; }
    .works-contents div {
      width: 100%;
      height: auto;
      border-radius: 8px; }
      .works-contents div img {
        width: 100%;
        object-fit: cover; } }
@media screen and (min-width: 1025px) {
  .header-pc {
    display: block; }

  .main-contents {
    max-width: 1000px;
    margin: 0 auto; }

  /*作品一覧*/
  .works-contents {
    grid-template-columns: 1fr 1fr 1fr; } }
