/* Scss Document */
.first-view {
  height: 100vh; }
  .first-view .top-txt {
    top: 50vh;
    width: 100%;
    position: absolute;
    z-index: 10;
    margin-left: calc(100vw / 16); }
    .first-view .top-txt .site-ttl h1 {
      padding: 0 0 13px;
      font-family: 'Fira Sans', sans-serif;
      font-weight: 600;
      color: #345e49;
      font-size: 104px; }
    .first-view .top-txt .site-ttl p {
      color: #345e49;
      font-size: 32px;
      font-weight: 600;
      margin: 0 0 0 0; }
    .first-view .top-txt .copy {
      padding: 52px 0; }
      .first-view .top-txt .copy span {
        display: block;
        height: 2px;
        width: 44px;
        background-color: #354E49;
        margin: 40px auto 28px 0; }
      .first-view .top-txt .copy p {
        font-size: 18px;
        color: #354E49;
        line-height: 24px;
        letter-spacing: 0.15em; }
  .first-view .top-visual {
    width: 75vw;
    height: calc( 100vh / 3 * 2);
    background-image: url("../img/top-visual-pc.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    position: absolute;
    top: 20vh;
    right: 0;
    z-index: 1; }

.main-contents {
  margin-top: 104px; }
  .main-contents div .ttl {
    margin-bottom: 64px;
    text-align: center; }
    .main-contents div .ttl h3 {
      text-align: center;
      font-family: 'Fira Sans', sans-serif;
      font-weight: 400;
      color: #333333;
      font-size: 40px;
      margin-top: 48px;
      position: relative;
      display: inline-block;
      padding: 0 65px;
      text-align: center;
      z-index: 1; }
    .main-contents div .ttl h3:before, .main-contents div .ttl h3:after {
      position: absolute;
      top: calc(50% - 3px);
      width: 50px;
      height: 6px;
      content: '';
      border-top: solid 2px #333333;
      border-bottom: solid 2px #333333; }
    .main-contents div .ttl h3:before {
      left: 0; }
    .main-contents div .ttl h3:after {
      right: 0; }
  .main-contents .shousai {
    text-align: center;
    margin: 48px 0 0; }
    .main-contents .shousai a {
      display: inline-block;
      margin: 0 auto;
      text-decoration: none;
      color: #354E49;
      border-bottom: 1px solid #354E49; }
  .main-contents .about .about-txt {
    letter-spacing: 0.1em;
    line-height: 32px;
    text-align: center; }
  .main-contents .about, .main-contents .works {
    margin-bottom: 200px; }

.contact p {
  text-align: center; }
.contact .mail {
  text-align: center;
  margin-top: 40px; }
  .contact .mail a {
    display: inline-block;
    color: #354E49; }

@media screen and (max-width: 1024px) {
  .first-view .top-txt {
    top: 70vh;
    width: 100%;
    position: absolute;
    z-index: 10;
    margin-left: calc(100vw / 16); }
    .first-view .top-txt .site-ttl h1 {
      padding: 0 0 13px;
      font-size: 56px; }
    .first-view .top-txt .site-ttl p {
      color: #345e49;
      font-size: 20px; }
    .first-view .top-txt .copy {
      padding: 17px 0;
      width: 260px; }
      .first-view .top-txt .copy p {
        font-size: 12px;
        line-height: 22px;
        letter-spacing: 0.15em; }
  .first-view .top-visual {
    width: auto;
    height: 50vh;
    background-image: url("../img/top-visual-pc.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    position: absolute;
    top: 16vh;
    left: calc(100vw / 16);
    z-index: 1; } }
@media screen and (min-width: 561px) {
  .first-view .top-txt {
    width: calc( 100vw / 3); } }
@media screen and (min-width: 561px) and (max-width: 1024px) {
  .first-view .top-txt .site-ttl h1 {
    font-size: 50px; }

  .works-contents {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin: 0 auto; }
    .works-contents div {
      width: 100%;
      height: auto;
      border-radius: 8px; }
      .works-contents div img {
        width: 100%;
        object-fit: cover; }

  .about-area div {
    display: flex; }
    .about-area div div {
      display: block;
      width: 50%; } }
@media screen and (min-width: 1025px) {
  .first-view {
    height: 100vh; }
    .first-view .copy {
      width: 416px; }
    .first-view .top-visual {
      background-position: bottom 40% right 0px; } }
