@charset "utf-8";
/* CSS Document */
/*全体*/

body{
	max-width: 920px;
	margin:  0 auto;
}
.wrapper{
	background-color: #a71717;
	animation-name: tobottom;
	animation-duration: 4s;
}
header{
	height: 72px;
}
.menuholder{
	width: 100%;
	max-width: 920px;
	display: flex;
	height: 72px;
	margin: 0;
	padding: 0;
	background: linear-gradient(to bottom,  rgb(100,40,40), #a71717);
	z-index: 7;
	animation-name: navi;
	animation-duration: 3.5s;
}
.gb-nav{
	width: 20%;
}
.gb-nav:hover{
	background-color:  rgba(246, 100, 100, 0.3);
}
li{
	list-style-type: none;
}
a p{
	margin: 0;
	height: 72px;
	color: #fff;
	line-height: 72px;
	text-align: center;
	font-size: 24px;
	animation-name: fadein-txt;
	animation-duration: 3.8s;
}
main{
	margin-left: 32px;
	margin-right: 32px;
}
.main-content{
	width: 100%;
}
h1,h2,h3,h4{
	font-family: "ＭＳ ゴシック", "MS Gothic", "Osaka－等幅", "Osaka-mono", "monospace";
}
h1{
	font-size: 80px;
	color: #fff;
	margin: 0 0 0 64px;
	padding-top: 104px;
	line-height: 112px;
	animation-name: fadein-txt;
	animation-duration: 2.7s;
	
}
h2{
	font-size: 72px;
}
h2,h4{
	text-align: center;
	color: #fff;
}
h3{
	text-align: center;
	color: #584141;
	font-size: 32px;
	margin: 32px 0 24px 0;
}
a{
	text-decoration: none;
}
p{
	color: #fff;
}
.flex{
	display: flex;
}
footer p{
	text-align: center;
	margin: 0;
}
.notSee{
	opacity: 0;
}
.notSee.txt-fade{
	opacity: 1;
	transition: 0.8s;
}


/*アニメーション*/
@keyframes tobottom{
	0% {
		height: 0;
	}
	
	100%{
		height: 4733px;
	}
}
@keyframes navi{
	0% {
		height: 0;
	}
	
	30%{
		height: 0;
	}
	
	100%{
		height: 72px;
	}
}
@keyframes fadein-img{
	0%{
		opacity: 0;
	}
	
	30%{
		opacity: 0;
	}
	
	100%{
		opacity: 1;
	}
}
@keyframes fadein-txt{
	0%{
		opacity: 0;
	}
	
	70%{
		opacity: 0;
	}
	
	100%{
		opacity: 1;
	}
}

/*トップ*/

.mainvisual{
	width: 920px;
	height: 512px;
	margin:32px 0 104px -32px;
	background:url("../images/ポートフォリオのトップ-pc.jpg");
	animation-name: fadein-img;
	animation-duration: 2.7s;
}

/*プロフィール*/
#plofile{
	height: 480px;
	margin:192px 0;
}
#plofile div{
	float: left;
}
.icon-area{
	margin: 0;
	width: 50%;
}
#icon{
	margin-left: 38px;
}
.plofile-txt{
	width: 50%;
	margin: 0 auto;
}

/*スキル*/
.skill-panel{
	width: 360px;
	height: 360px;
	background-color: #fff;
}
div ul{
	margin: 8px 0;
}
.flex p{
	width: 155px;
	color: #825858;
}
.skill-panel-margin-r{
	margin-right: 128px;
}
.skill-panel-msrgin-b{
	margin-bottom: 128px;
}
.star-rating {
	position: relative;
	width: 5em;
	height: auto;
	font-size: 25px;
}
.star-rating-front {
	position: absolute;
	top: 5px;;
	left: 0;
	overflow: hidden;
	color: #ffcc33;
	z-index: 5;
}
.star-rating-back {
	position: absolute;
	top: 5px;;
	left: 0;
	color: #ccc;
	z-index:1;
}

/*ワークス*/
#works{
	margin: 192px 0;
}
.works-panel{
	margin: 0 auto;
	width: 264px;
	height: auto;
}
div .works-txt{
	color: #fff;
	width: 100%;
}

/*コンタクト*/
#contact{
	margin-bottom: 168px;
}
#contact p{
	color: #fff;
	text-align: center;
}
.contact-link{
	width: 120px;
	margin: 32px auto 16px;
	display: block;
}
.contact-link a img{
	margin-bottom:8px;
}
div a #twitter-id{
	height: 24px;
	font-size: 24px;
	color: #53E0FB;
	line-height: 24px;
}
.contact-txt-sp{
	display: none;
}
/*レスポンシブ*/

@media screen and (max-width: 1024px){
	body{
		max-width: 360px;
	}
	main{
		margin-right: 16px;
		margin-left: 16px;
	}
	a p{
		font-size: 16px;
	}
	h1{
		font-size: 40px;
		padding-top: 140px;
		margin-left: 24px;
		line-height: 96px;
	}
	h2{
		font-size: 24px;
		margin: 32px 0;
	}
	h3{
		font-size: 20px;
	}
	/*トップのレスポンシブ*/
	.mainvisual{
		width: 360px;
		margin:16px 0 104px -16px;
		background:url("../images/ポートフォリオのトップ-sp.jpg");
	}
	/*プロフィールのレスポンシブ*/
	#plofile{
		display: block;
		height: 710px;
	}
	#plofile .main-content{
		display: block;
	}
	.icon-area{
		margin-left: 4px;
		width: 320px;
	}
	#icon{
		margin: 0;
	}
	.plofile-txt{
		width: 100%;
	}
	/*スキルのレスポンシブ*/
	#skill .main-content div{
		display: block;
	}
	.skill-panel{
		width: 328px;
		height: 328px;
	}
	.skill-panel-margin-r{
		margin-right: 0;
	}
	.skill-panel-msrgin-b{
		margin-bottom: 24px;
	}
	.skill-panel-margin-t{
		margin-top: 24px;
	}
	#skill h3{
		margin: 0;
		padding: 24px 0;
	}
	#skill ul{
		margin: 0;
		padding-left: 30px;
	}
	/*ワークスのレスポンシブ*/
	#works .flex{
		display: block;
	}
	/*コンタクトのレスポンシブ*/
	.contact-txt-pc{
		display: none;
	}
	.contact-txt-sp{
		display: block;
	}
}
